@import '../../../styles/variables';

.container {
   width: 100%;
   max-width: $width-content;
   height: 100%;
   min-height: 100vh;
   margin: 0 auto;
   padding: 0 $space-xl;

   @media screen and (max-width: $screen-lg) {
      padding: 0 $space-lg;
   }
}
