@import '../../../styles/variables';

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: $height-header;
   padding: 0 $space-md;

   .headerRight,
   .headerLeft {
      display: flex;
      align-items: center;
      gap: $space-lg;
   }

   .headerRight {
      gap: $space-xs;
   }
}


