@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #FBF7F4; 
  --color-accent: #EEE6E2;
  --color-beige: #CCC1BE;
  --color-blue: #456086;
  --color-green: #68878F;
  --color-red: #C66267;
  --color-orange: #F8BD8D;
  --color-dark-gray: #5C6F8E;
  --color-light-gray: #F2F2F2;
  --color-gray: #DFDBD8;
  --color-white: #fff;
  --color-black: #000;

  --color-text-primary: #000;
  --color-text-secondary: #A7A7A7;
  --color-text-accent: #456086;
}
