@import '../../../styles/variables';
@import '../../../styles/mixin';

.dialogOverlay {
   background-color: rgba(0, 0, 0, 0.6);
   position: fixed;
   inset: 0;
   animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialogContent {
   @include flex-column($space-xl);
   background-color: $color-primary;
   border-radius: $radius-base;
   box-shadow:
      hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
      hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 90vw;
   max-width: 500px;
   max-height: 85vh;
   padding: 25px;
   animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialogContent:focus {
   outline: none;
}

.dialogTitle {
   margin: 0;
   color: $color-accent;
   font-size: $font-size-md;
   font-weight: 500;
   font-family: $family-serif;
   text-align: center;
}

.AlertDialogDescription {
   margin-bottom: 20px;
   color: red;
   font-size: 15px;
   line-height: 1.5;
}

.actionBtns {
   @include flex-row();
   justify-content: flex-end;
}

@keyframes overlayShow {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

@keyframes contentShow {
   from {
      opacity: 0;
      transform: translate(-50%, -48%) scale(0.96);
   }

   to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
   }
}